@import "config";


/* apply a natural box layout model to all elements - www.paulirish.com/2012/box-sizing-border-box-ftw/ */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 6%;
	z-index: 4;
	
	/*	If border-box is set on body, any padding applied to the body
		will cut into the interior space, making it narrower. However, any
		percentage-based elements (nav at 20%, main content at 80%) are going to
		be getting larger, so at some point, the body interior gets too narrow
		and the nav will snap under. */
		
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}



.u-lFooter {
	clear: both;
}



/*	MEDIUM
	------
*/

@media screen and (min-width: $midway) {

	.u-lAside {
		margin-top: 2em;
		padding-top: 2em;
	}
	.u-lMain {
		width: 80%;
		float: right;
	}
	.u-NavSite {
		width: 19%;
		float: left;
	}
	#search {
		padding: .25em;
	}
}




/*	LARGE
	-----
*/

@media screen and (min-width: $large) {
	body {
		max-width: $large;
		margin-bottom: 4em;
		margin-left: auto;
		margin-right: auto;
		padding: 2%;
	}
	.u-lAside {
		width: 29%;
		float: right;
		padding-left: 4%;
		margin-top: 0;
		padding-top: 0;
	}
	.u-lMain {
		padding-right: 2%;	
		width: 83%;
		float: right;
	}
	.u-NavSite {
		width: 16%;
		float: left;
	}

	.u-lContent {
		width: 70%;
		float: left;
		padding-right: 2%;
	}

}