@import "config";
@import "_mixins/mixins";

html {
	font-size: 100%;
}

body {
	@extend .sans-serif;
	font-size: 1.2em;
}
blockquote {
	@extend .sans-serif;
	font-size: .8em;
	font-weight: 300;
	line-height: 116%;
}
blockquote p {
	@extend .sans-serif;
}
h2, h3, h4, h5, h6 {
	margin-top: 1.1em;
	margin-bottom: .2em;
}
h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}
h2 {
	@extend .serif;
	font-size: 1.6em;
	font-weight: 100;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 1.4em;
}
h3 {
	@extend .serif;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 100%;
}
h4 {
	font-family: $sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 110%;
}
h5 {
	font-family: $sans-serif;
	font-size: .8em;
	font-weight: 800;
	line-height: 110%;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h6 {
	@extend .serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8em;
	line-height: 110%;
	letter-spacing: 1px;
}
p {
	font-family: $sans-serif;
	line-height: 130%;
	margin-bottom: .5em;
}
.u-lMain li {
	line-height: 120%;
	margin-bottom: .5em;
	font-size: .9em;
}


.figcaption {
	font-family: $sans-serif;
	font-size: .75em;
}
.u-lContent .officeMod p {
	@extend .sans-serif;
	font-size: 1.1em;
}



/*	STANDARD ASIDE HTML ELEMENTS
	----------------------------
*/

.u-lAside {
	font-size: .9em;
}
.u-lAside h2 {
	@extend .serif;
	font-size: 1.6em;
	font-weight: 100;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: .4em;
}
.u-lAside h3 {
	@extend .serif;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 100%;
}
.u-lAside h4 {
	font-family: $sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 110%;
}
.u-lAside h5 {
	font-family: $sans-serif;
	font-size: .9em;
	font-weight: 800;
	line-height: 110%;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.u-lAside h6 {
	@extend .serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9em;
	line-height: 110%;
	letter-spacing: 1px;
}
.u-lAside p {
	font-family: $sans-serif;
	line-height: 130%;
	margin-bottom: .5em;
	font-size: .95em;
}


