@import "config";
@import "_mixins/mixins";


.u-lFooter {
	padding: 6%;
	text-align: center;
	@include v-pixel-fallback("font-size", 1rem);
}
.u-VCard__org {
	padding-top: 1em;
}
.u-lFooter li {
	display: block;
}
.u-List--site {
	display: inline;
	border-top: 1px solid transparent;
	padding-top: .5em;
	margin-top: .5em;
}

.u-List__item {
	@extend .serif;
	letter-spacing: 1px;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
}
.u-VCard__info {
	margin-top: .25em;
	margin-bottom: .25em;
}
.u-VCard__org {
	display: inline-block;
}

@media all and (min-width: 800px) {

	.u-lFooter {
		padding: 6% 0 4% 0;
	}
	.u-lFooter li {
		display: inline;
		@extend .bob;
	}
	.u-VCard__itemContainer {
		margin-right: 1em;
	}
	.u-VCard__itemContainer:last-child {
		margin-right: 0;
	}
	.u-List__item {
		margin-right: 1em;
	}
}