@import "config";
@import "_mixins/mixins";

/*	Search
	------
*/


.u-Search__field {
	width: 70%;
}
.u-Search__button,
.ac-NavAnchor--menu {
	@include v-pixel-fallback("font-size", 2rem);
}
#search:target .u-Search__submit,
.u-Search__cancel {
	@include v-pixel-fallback("font-size", 1.4rem);
	@include v-pixel-fallback("height", 2.6rem);
}
.u-Search__cancel {
	@include v-pixel-fallback("margin-top", .2rem);
	@include v-pixel-fallback("right", 1rem);
}
.ac-NavAnchor--menu {
	right: .3em;
}
.u-Search__button {
	@include v-pixel-fallback("top", 1.2rem);
	@include v-pixel-fallback("right", 4rem);
}
#search:target {
	padding: .25em;
	max-height: 3em;
}
.u-Search__field, .u-Search__submit {
	@include v-pixel-fallback("height", 2.5rem);
}
.u-Search__submit {
	@include v-pixel-fallback("height", 2.6rem);
}


@media all and (min-width: $small) {
	#search {
		max-height: none;
		width: auto;
		height: 2em;
		left: 20%;
		right: 20%;
		@include v-pixel-fallback("top", .75rem);
	}
	#search:target {
		padding: 0;
	}
	.ac-NavAnchor--menu {
		position: absolute;
		visibility: hidden;
		width: 1px;
		height: 1px;
	}
	.u-Search__button, .u-Search__cancel {
		display: none;
	}
	.u-Search__field {
		width: 84%;
	}
	.u-Search__field, .u-Search__submit {
		height: 100%;
	}
	.u-Search__button,
	.u-Search__cancel {
		font-size: 1em;
	}
	.u-Search__submit {
		width: 2.4em;
		right: 0;
		left: auto;
		font-size: .9em;
	}
}
@media all and (min-width: $midway) {
	#search {
		right: .75em;
		top: .75em;
		left: auto;
		width: 17em;
	}
}